
.clock-container {
    /* TODO */
}
.clock-display {
    width: 16rem;
    aspect-ratio: 1;
    border-radius: 100%;

    background: #eee;
    border: 4px solid #ccc;

    position: relative;

    > div {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform-origin: bottom;
    }
}
.hour-hand {
    background: black;
    border: 4px solid black;
    height: 30%;
}
.minute-hand {
    background: #444;
    border: 3px solid #444;
    height: 45%;
}

.time-display {
    font-variant-numeric: tabular-nums;
}

.blink {
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
